
<%= simple_form_for(@post) do |f| %>

  <% if f.error_notification %>
    <div class="notification is-warning">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { class: "input", placeholder: "Title" },
                  wrapper: false,
                  label: false %>
    </div>
  </div>

  <div class="field">
    <div class="control">
        <%= f.input :post,
                    required: true,
                    autofocus: true,
                    input_html: { class: "textarea", rows: "3", placeholder: "Text (optional)" },
                    wrapper: false,
                    label: false %>
    </div>
  </div>
  
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <%= f.button :submit, class: "button is-link" %>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
                      <%= link_to "Back", root_path, class: "button is-danger" %>
      </div>
    </div>
  </div>
  
  
<% end %>
